<!-- extend base layout -->
{% extends "index_base.html" %}

{% block head_css %}
        {{ super() }}
        <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
       <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
       <li data-target="#carousel-example-generic" data-slide-to="1" ></li>
       <li data-target="#carousel-example-generic" data-slide-to="2" ></li>
        <li data-target="#carousel-example-generic" data-slide-to="3" ></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="jumbotron" style="background: url('static/img/slide1.jpg');background-size: 100% 100%;background-repeat: no-repeat;">
            <div class="container">
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
            <p>{{_("")}}</p>

            </div>
           </div>
        </div>

        <div class="item">
            <div class="jumbotron" style="background: url('static/img/slide2.jpg');background-size: 100% 100%;background-repeat: no-repeat;">
            <div class="container">
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
            </div>
            </div>
        </div>

        <div class="item">
            <div class="jumbotron" style="background: url('static/img/slide3.jpg');background-size: 100% 100%;background-repeat: no-repeat;">
            <div class="container">
                            <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
            </div>
            </div>
        </div>

        <div class="item">
            <div class="jumbotron" style="background: url('static/img/slide4.jpg');background-size: 100% 100%;background-repeat: no-repeat;">
            <div class="container">
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>
                <br> </br>

            </div>
            </div>
        </div>
</div>

    <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

<div style="border-width:30px;border-color:black;padding:10px;">


    <a href="/productpageview/hit_product/">
    <div class="inline-block">
        <img src="https://cdn.tmobile.com/content/dam/t-mobile/en-p/internet-devices/apple/watch-series4-40/gold-pink-sand-sportband/Apple-WatchSeries4-Cellular-40mm-AluminumGold-SportBand-PinkSand-1-3x.jpg" height=500" width="700" />
        <h1>Watch</h1>
    </div>
    </a>

    <a href="productpageview/hit_product/">
    <div class="inline-block">
         <img src="https://icdn7.digitaltrends.com/image/macbook-air-2018-review-5869-640x640.jpg" height="500" width="700" />
         <h1>Computer</h1>
     </div>
    </a>

     <a href="https://www.broadwaylifestyle.com/categories/topic-aircon-0318-to-0614-2019.html">
     <div class="inline-block">
         <img src="https://static1.shasha.ps/cachedImages/resize/740/494/shasha_images/1428125807-92-png-32601275336426441.png" height="500" width="700" />
         <h1>Air-conditioner</h1>
     </div>
     </a>


    <a href="productpageview/phone/">
     <div class="inline-block">
     <img src="https://images-na.ssl-images-amazon.com/images/I/61Un6S7cxML._SX569_.jpg" height="500" width="700" />
     <h1>Phone</h1>
     </div>
    </a>

    <a href="https://www.broadwaylifestyle.com/categories/blossom-festival.html">
    <div class="inline-block">
        <img src="https://i.ytimg.com/vi/WJvk6CI7cm8/hqdefault.jpg" height="500" width="700" />
        <h1>Camera</h1>
    </div>
</a>

    <br>
    <br>
    <h2>
    <div class="Facebook">
      <span>Facebook Status</span>
    </div>
    </h2>
    <div class="inline-block">
         <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/s720x720/57045323_2433494660205723_318885365924495360_o.jpg?_nc_cat=105&_nc_ht=scontent.xx&oh=5134a45b7d95712024d0362d6f68f2cc&oe=5D43E3E1" height= 800 width=860/>
         </div>
    <div class="inline-block">
        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/p720x720/57155308_2434708383417684_7037548066206908416_o.jpg?_nc_cat=110&_nc_ht=scontent.xx&oh=a7decc4442f03e19ba27b555f03d3986&oe=5D3E7962" height="800" width="860" />
     </div>
    <div class="inline-block">
        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/s720x720/57451168_2434809610074228_8755517632939032576_o.jpg?_nc_cat=102&_nc_ht=scontent.xx&oh=111f8040063ce6b1aa39f6f2450590ba&oe=5D2D4638" height="800" width="860" />
    </div>

    <div class="inline-block">
        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/p720x720/57000726_2432767116945144_7603377258329276416_o.jpg?_nc_cat=110&_nc_ht=scontent.xx&oh=ebed8fa6f250684acb7f0a0c840ee6d0&oe=5D3BF480" height="800" width="860" />
    </div>

    <div style="border-width:30px;border-style:groove;border-color:lightblue;padding:60px;">

        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">About us</th>
                <th scope="col">Branch address</th>
                <th scope="col">Join us</th>
                <th scope="col">Customer service</th>
            </tr>
            </thead>
            <tbody>
    <tr>
      <th scope="row"></th>
        <td><a href="https://www.broadwaylifestyle.com/companyprofile/">Company profiles</a></td>
        <td><a href="https://www.broadwaylifestyle.com/storelocator?countries=Hong_Kong_Island/">Hong Kong Island</a></td>
        <td><a href="https://www.broadwaylifestyle.com/career-development/">Career development</a></td>
        <td><a href="https://www.broadwaylifestyle.com/online-shopping/">Online shopping terms</a></td>
    </tr>
            <tr>
      <th scope="row"></th>
      <td><a href="https://www.broadwaylifestyle.com/contact/">Contact us</a></td>
      <td><a href="https://www.broadwaylifestyle.com/storelocator?countries=Kowloon/">Kowloon District</a></td>
      <td><a href="https://www.broadwaylifestyle.com/employee-benefits/">Employee Benefits</a></td>
                <td><a href="https://www.broadwaylifestyle.com/statutoryremovalservice/">Legal old service</a></td>
            </tr>
            <tr>
      <th scope="row"></th>
      <td></td>
      <td><a href="https://www.broadwaylifestyle.com/storelocator?countries=New_Territories/">New Territories</a></td>
      <td><a href="https://www.broadwaylifestyle.com/vacancies/">Vacancies</a></td>
      <td><a href="https://www.broadwaylifestyle.com/faq/">Common problems</a></td>
            </tr>
            <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td><a href="https://www.broadwaylifestyle.com/career-map/">Broadway office recruitment day location</a></td>
      <td><a href="https://www.broadwaylifestyle.com/shoppickuptnc/">Pick up at the store</a></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://www.broadwaylifestyle.com/gift-card-tnc/">Gift / Gift Card</a></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="https://www.broadwaylifestyle.com/exchangepolicy/">Replacement policy</a></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>


{% endblock %}
